.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h1{
    font-size: 31px;
}

.content p{
    font-size: 15px;
}

.content nav ul{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 3% 0%;
    flex-wrap: wrap;
    height: 250px;
    overflow-y: auto;
}

.content nav ul li{
    list-style: none;
    background-color: var(--color-bg);
    border-radius: 6px;
    font-size: 13px;
    width: 300px;
    height: 110px;
    padding: 10px;
    box-shadow: -5px 7px 3px rgba(0, 0, 0, 0.3);
}

.content nav ul li p{
    margin-top: 5%;
    color: var(--color-primary);
}

.content nav ul li a{
    text-decoration: none;
    color: var(--color-text);
}

.content nav ul li:hover{
    box-shadow: -5px 7px 3px rgba(201, 55, 66, 0.8);
}