.card ul{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 3% 0%;
    flex-wrap: wrap;
    height: 250px;
    padding: 30px;
    overflow-y: auto;
}

.card ul li{
    list-style: none;
    background-color: var(--color-bg);
    border-radius: 6px;
    font-size: 13px;
    max-width: 300px;
    width: 100%;
    height: 110px;
    padding: 10px;
    box-shadow: -5px 7px 3px rgba(0, 0, 0, 0.3);
}

.card ul li p{
    margin-top: 5%;
    color: var(--color-primary);
}

.card ul li a{
    text-decoration: none;
    color: var(--color-text);
}

.card ul li:hover{
    box-shadow: -5px 7px 3px rgba(201, 55, 66, 0.8);
}

@media screen and (max-width : 480px) {
    .card ul li{
        height: 130px;
    }
}