.container {
    margin: 7% 17%;
}

.cardProject li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    grid-template-areas:
        "title imgProject";
    list-style: none;
}

.skills {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 17px;
}

.skills span{
    background-color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-bg);

}

.line {
  width: 90%;
  border: none;
  height: 2px;
  background-color: #ddd;
  margin-top: 10px;
}

.title {
    font-size: 25px;
    grid-area: title;
}

.title p{
    margin-top: 2%;
    font-size: 20px;
}

.imgProject {
    grid-area: imgProject;
}

.imgProject img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.links {
    display: flex;
    gap: 15px;
    margin-top: 5%;
}

.links img {
    width: 30px;
    filter: invert(28%) sepia(70%) saturate(2038%) hue-rotate(332deg) brightness(84%) contrast(87%);
    transition: transform 0.2s ease;
}

.links img:hover {
    transform: scale(1.1);
}

.menuBtn {
    margin-top: 5%;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.menuBtn button{
    cursor: pointer;
    background-color: transparent;
    width: 50px;
}

.menuBtn img{
    width: 30px;
}




@media screen and (max-width: 950px) {
    .cardProject li {
        grid-template-columns: 1fr;
        grid-template-rows: auto 150px;
        grid-template-areas:
            "title"
            "imgProject";
    }

    .imgProject {
        margin-top: 5%;
    }
}