.navbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0 10%;
    background-color: var(--color-bg);
}

.title{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-primary);
}

.menuBtn{
    display: none;
    width: 30px;
}

.menu{
    display: flex;
}

.menuItems{
    display: flex;  
    list-style: none; 
    gap: 47px;
}

.menuItems a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 21px;
}

.menuItems .listLink {
  color: var(--color-primary);
  text-decoration: underline;
}


@media screen and (max-width : 900px) {
    .navbar{
        flex-direction: column;
        margin: 0 2%;
        align-items: flex-start;
    }

    .menu{
        position: absolute;
        right: 0;
        margin: 0 2%;
        flex-direction: column;
        align-items: flex-end;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 24px 33px;
        background-color: var(--color-bg);
        gap: 13px;

    }
    
    .menuOpen{
        display: flex;
    }
}