.card ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    height: 280px;
    overflow-y: auto;
}

.card li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 6px;
    box-shadow: -5px 7px 3px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 60px;
    height: 60px;
}

.card li:hover {
    box-shadow: -5px 7px 3px rgba(201, 55, 66, 0.8);
}

.card li:hover img {
    filter: invert(28%) sepia(70%) saturate(2038%) hue-rotate(332deg) brightness(84%) contrast(87%);
}
