.container {
    margin: 7% 10%;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "content article";

    gap: 20px;

}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content h1 {
    font-size: 3rem;
}

.content p {
    font-size: 20px;
}


.content nav {
    margin-top: 2%;
}

.content nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.content nav ul li {
    cursor: pointer;
    list-style: none;
    background-color: var(--color-primary);
    width: 100%;
    height: 38px;
    border-radius: 6px;
    font-size: 1.3rem;
    transition: background-color 0.25s ease, transform 0.2s ease;
}

.content nav ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg);
    font-weight: bold;
    width: 100%;
    height: 38px;
}

.article {
    grid-area: article;
    background-color: blue;
}

.content nav ul li:hover{
    background-color: var(--gray-soft);
}

.content nav ul li:hover a{
    color: var(--color-primary);
}

.content .listLink{
    background-color: var(--gray-soft);
    color: var(--color-primary);
    border-radius: 6px;
}

@media screen and (max-width : 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "content"
            "article";
    }

    .content h1 {
        text-align: center;

    }

    .content p {
        text-align: center;
    }
}