.container{
    display: grid;
    grid-template-columns: 250px 400px 100px;
    grid-template-rows: 250px 200px;
    grid-template-areas:  
    "content content ."
    "footer footer .";

    margin: 10% 10% ;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aqua;
    grid-area: content;
}

.content h1{
    font-size: 50px;
}

.content p{
    font-size: 25px;
}

.footer{
    grid-area: footer;
}