.section {
    display: grid;
    grid-template-columns: 300px 1fr 430px;
    grid-template-rows: 345px;
    grid-template-areas:
        "content content imageHero";

    margin: 7% 10%;
}


/*CSS Content*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    grid-area: content;
}

.content h1 {
    font-size: clamp(1.2rem, 6.8vw, 10rem);
}

.content p {
    font-size: clamp(1.2rem, 2.6vw, 10rem);
}

/*CSS Links*/
.links {
    grid-area: links;
    display: flex;
    gap: 20px;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-weight: bold;
}

.socialMedia {
    display: flex;
    gap: 20px;
}

.socialMedia a img {
    width: 30px;
    transition: transform 0.2s ease;
}

/*CSS Content Hover*/

.download:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    background-color: var(--color-bg);
    color: var(--color-primary);
    font-weight: bold;
}

.socialMedia a img:hover {
    transform: scale(1.3);
}


/*CSS Image*/

.imageHero {
    display: flex;
    text-align: center;
    grid-area: imageHero;
    justify-content: flex-end;
}

.imageHero img {
    background-color: var(--color-primary);
    border-radius: 60px;
    max-width: 100%;
}

@media screen and (max-width : 900px) {
    .section {
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto;
        grid-template-areas:
            "imageHero"
            "content";
        gap: 20px;
    }

    .content {
        align-items: center;
        gap: 20px;
    }

    .imageHero {
        justify-content: center;
    }

    .content h1 {
        font-size: 4rem;
        text-align: center;
    }

    .content p {
        font-size: 1.5rem;
        text-align: center;
    }
}