.section{
    display: grid;
    grid-template-columns: 250px 400px 430px;
    grid-template-rows: 250px 50px;
    grid-template-areas:  
    "content content imageHero"
    "links links imageHero";

    margin: 10% 10% ;
}


/*CSS Content*/
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: content;
}

.content h1{
    font-size: 50px;
}

.content p{
    font-size: 25px;
}

/*CSS Links*/
.links{
    grid-area: links;
    display: flex;
    gap: 20px;
    align-items: center;
}

.download{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    width: 120px;
    height:35px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-weight: bold;
}

.socialMedia{
    display: flex;
    gap: 20px;
}
.socialMedia a img{
    width: 30px;
    transition: transform 0.2s ease;
}

/*CSS Content Hover*/

.download:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    width: 120px;
    height:35px;
    background-color: var(--color-bg);
    color: var(--color-primary);
    font-weight: bold;
}

.socialMedia a img:hover{
    transform: scale(1.3);
}


/*CSS Image*/

.imageHero{
    display: flex;
    text-align: center;
    grid-area: imageHero;
    justify-content: center;
}

.imageHero img{
    background-color: var(--color-primary);
    border-radius: 60px;
}


